In [90]:
import os
from tabula import read_pdf
import pandas as pd

# Read the PDF as a data frame
dfs = read_pdf(r'D:\rekening-koran.pdf', lattice=True, pages='all', multiple_tables=True)
len(dfs)

114

In [119]:
df_list = []

for x in range(len(dfs)):
    if x % 2 != 0:
        df_list.append(dfs[x])

In [120]:
type(df_list)

list

In [132]:
df_all = pd.concat(df_list, ignore_index=True, axis=0)

In [138]:
df_all.replace(to_replace=r'\r', value=' ', regex=True, inplace=True)
df_all

,Date & Time,Value Date,Description,Reference No.,Debit,Credit,Balance
0,01/05/2022 03:59:03,01/05/2022,MCM InhouseTrf KE SRI HANDAYANI ROSITA DEWI,NaN,"400,000.00",0.0,"400,417,300.34"
1,01/05/2022 03:59:41,01/05/2022,MCM InhouseTrf KE ROBERT ANTHONY BAMBANG,NaN,"400,000.00",0.0,"400,017,300.34"
2,01/05/2022 03:59:59,01/05/2022,MCM InhouseTrf KE MOCHAMAT ADIL,NaN,"200,000.00",0.0,"399,817,300.34"
3,01/05/2022 04:00:27,01/05/2022,MCM InhouseTrf KE JOKO LENGKUNG KUSUMO,NaN,"200,000.00",0.0,"399,617,300.34"
4,01/05/2022 04:00:48,01/05/2022,MCM InhouseTrf KE SRI HANDAYANI ROSITA DEWI,NaN,"200,000.00",0.0,"399,417,300.34"
...,...,...,...,...,...,...,...
946,31/05/2022 18:02:43,31/05/2022,MCM InhouseTrf KE SRI HANDAYANI ROSITA DEWI,NaN,"6,000,000.00",0.00,"518,058,694.34"
947,31/05/2022 23:59:,31/05/2022,NaN,NaN,"25,000.00",0.00,"518,033,694.34"
948,00,NaN,Biaya Adm,NaN,NaN,NaN,NaN
949,31/05/2022 23:59:00,31/05/2022,Bunga,NaN,0.00,"386,610.29","518,420,304.63"
950,31/05/2022 23:59:00,31/05/2022,Pajak,NaN,"77,322.06",0.00,"518,342,982.57"